<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button menu="mnu-first" slot="start">
            </ion-menu-button>

        </ion-buttons>
        <ion-title class="titlecenter">

        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row class="mrgtop">
            <ion-col>
                <ion-img src="../assets/images/Access_account.png" class="imgs">
                </ion-img>
                <ion-label class="lblcircle">پروفایل</ion-label>
            </ion-col>
            <ion-col>

                <ion-img src="../assets/images/wallet.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">حساب بانکی</ion-label>
            </ion-col>
            <ion-col>
                <ion-img src="../assets/images/finance.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">تسهیلات</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mrgmid">
            <ion-col>
                <ion-img src="../assets/images/investing.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">سرمایه</ion-label>
            </ion-col>
            <ion-col>
                <ion-img src="../assets/images/Credit.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">کارت به کارت</ion-label>
            </ion-col>
            <ion-col>
                <ion-img src="../assets/images/Note_list.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">پرداخت قبض</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="mrgmid">
            <ion-col>

                <ion-img src="../assets/images/Accept_request.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">خلافی خودرو</ion-label>
            </ion-col>
            <ion-col>
                <ion-img src="../assets/images/data_processing.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">خرید بیمه نامه </ion-label>
            </ion-col>
            <ion-col>
                <ion-img src="../assets/images/Invest.png" class="imgs"></ion-img>
                <ion-label class="lblcircle">خرید بلیط هواپیما</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>